* {
    margin 0
    padding 0
}





// ------ PC
@media all and (min-width:641px) {

    .inner {
        width 980px
        margin 0 auto
    }
    header {
        height :200px;
        background blue
    }

}

// ------ SP
@media all and (max-width:640px) {
    header {
        height :190px;
        background red
    }

}



// ------ PC
@media all and (min-width:641px) {

    footer {
        height :200px;
        background black
        color white
    }

}

// ------ SP
@media all and (max-width:640px) {
    footer {
        height :200px;
        background yellow
    }

}



